
body {
    width: 360px;
    padding: 10px;
    box-sizing: border-box;
}

.main {
    padding: 0;
}

.grid-container {
  min-width: 0;
}

.field input {
  width: 100%;
}

ul, ol {
  margin: none;
}

.section {
  margin-bottom: 0.8rem;
}
